@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --clr-blue: hsl(243, 100%, 93%);
    --clr-gray-blue: hsl(229, 7%, 55%);
    --clr-dark-blue: hsl(228, 56%, 26%);
    --clr-very-dark-blue: hsl(229, 57%, 11%);
}

body {
    font-size: 0.875rem;
}